/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
@media (min-width: 1200px) {
  #index #header {
    position: relative; }
    #index #header .header-top {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: transparent; } }
@media (max-width: 1300px) {
  .leo-megamenu .navbar-nav > li > a {
    padding: 20px 15px;
    font-size: 13px;
    font-weight: 700; } }
@media (max-width: 1100px) {
  .leo-megamenu .navbar-nav > li > a {
    padding: 20px 10px; } }
@media (max-width: 1199px) {
  .leo-megamenu .navbar-nav > li > a {
    color: #000; } }
.leo-megamenu .navbar-nav > li:first-child > a {
  padding-left: 0; }
  .rtl .leo-megamenu .navbar-nav > li:first-child > a {
    padding-right: 0;
    padding-left: inherit; }

#leo_search_block_top .title_block {
  display: flex;
  align-items: center;
  font-size: 0;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0; }
  #leo_search_block_top .title_block::before {
    content: "\f002";
    font-family: "Font Awesome Light";
    font-size: 20px;
    font-weight: 400; }
  @media (max-width: 1199px) {
    #leo_search_block_top .title_block {
      color: #000; }
      #leo_search_block_top .title_block::before {
        font-family: "Font Awesome Regular"; } }
  #leo_search_block_top .title_block:hover {
    color: var(--theme-color-default); }
#leo_search_block_top form {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: calc(100% + 22px);
  right: 0;
  transition: 0.25s all; }
  .rtl #leo_search_block_top form {
    left: 0;
    right: auto; }
  @media (max-width: 767px) {
    #leo_search_block_top form {
      right: -150px; }
      .rtl #leo_search_block_top form {
        left: -150px;
        right: auto; } }
  @media (max-width: 500px) {
    #leo_search_block_top form {
      left: 0;
      right: auto; } }
  #leo_search_block_top form .form-control {
    min-width: 300px;
    border: 1px solid #e1e1e1; }

#_desktop_language_selector .popup-over .popup-title, #_desktop_language_selector.popup-over .popup-title,
#_desktop_currency_selector .popup-over .popup-title,
#_desktop_currency_selector.popup-over .popup-title {
  font-weight: 500; }
  #_desktop_language_selector .popup-over .popup-title .expand-more, #_desktop_language_selector.popup-over .popup-title .expand-more,
  #_desktop_currency_selector .popup-over .popup-title .expand-more,
  #_desktop_currency_selector.popup-over .popup-title .expand-more {
    color: #fff; }
    @media (max-width: 1199px) {
      #_desktop_language_selector .popup-over .popup-title .expand-more, #_desktop_language_selector.popup-over .popup-title .expand-more,
      #_desktop_currency_selector .popup-over .popup-title .expand-more,
      #_desktop_currency_selector.popup-over .popup-title .expand-more {
        color: #000; } }
  #_desktop_language_selector .popup-over .popup-title i, #_desktop_language_selector.popup-over .popup-title i,
  #_desktop_currency_selector .popup-over .popup-title i,
  #_desktop_currency_selector.popup-over .popup-title i {
    color: #fff; }
    @media (max-width: 1199px) {
      #_desktop_language_selector .popup-over .popup-title i, #_desktop_language_selector.popup-over .popup-title i,
      #_desktop_currency_selector .popup-over .popup-title i,
      #_desktop_currency_selector.popup-over .popup-title i {
        color: #000; } }
  #_desktop_language_selector .popup-over .popup-title:hover .expand-more, #_desktop_language_selector.popup-over .popup-title:hover .expand-more,
  #_desktop_currency_selector .popup-over .popup-title:hover .expand-more,
  #_desktop_currency_selector.popup-over .popup-title:hover .expand-more {
    color: var(--theme-color-default); }
  #_desktop_language_selector .popup-over .popup-title:hover i, #_desktop_language_selector.popup-over .popup-title:hover i,
  #_desktop_currency_selector .popup-over .popup-title:hover i,
  #_desktop_currency_selector.popup-over .popup-title:hover i {
    color: var(--theme-color-default); }

.userinfo-selector.popup-over .popup-title {
  color: #fff; }
  @media (max-width: 1199px) {
    .userinfo-selector.popup-over .popup-title {
      color: #000; }
      .userinfo-selector.popup-over .popup-title i::before {
        font-family: "Font Awesome Regular"; } }
  .userinfo-selector.popup-over .popup-title:hover {
    color: var(--theme-color-default); }

.header-button-wishlist .ap-btn-wishlist {
  color: #fff; }
  @media (max-width: 1199px) {
    .header-button-wishlist .ap-btn-wishlist {
      color: #000; }
      .header-button-wishlist .ap-btn-wishlist i {
        font-family: "Font Awesome Regular"; } }
  .header-button-wishlist .ap-btn-wishlist:hover {
    color: var(--theme-color-default); }

#_desktop_cart .header,
#_desktop_cart .header a {
  color: #fff; }
  @media (max-width: 1199px) {
    #_desktop_cart .header,
    #_desktop_cart .header a {
      color: #000; }
      #_desktop_cart .header i::before,
      #_desktop_cart .header a i::before {
        font-family: "Font Awesome Regular"; } }
  #_desktop_cart .header:hover,
  #_desktop_cart .header a:hover {
    color: var(--theme-color-default); }

.col__logo {
  width: fit-content !important; }

.col__menu,
.col__info {
  flex: 1; }

@media (max-width: 1199px) {
  .hidden-mobile {
    display: none; }

  .el-currency {
    margin-right: 20px; }
    .rtl .el-currency {
      margin-left: 20px;
      margin-right: inherit; } }
@media (max-width: 991px) {
  .navbar-header .navbar-toggler {
    margin-left: 0; }
    .rtl .navbar-header .navbar-toggler {
      margin-right: 0;
      margin-left: inherit; }
    .navbar-header .navbar-toggler span {
      background-color: #000; }
    .navbar-header .navbar-toggler::before, .navbar-header .navbar-toggler::after {
      background-color: #000; }

  .col__logo {
    order: -1; }

  .col__menu {
    flex: none;
    order: 2;
    width: fit-content !important;
    margin-left: 22px; }
    .rtl .col__menu {
      margin-right: 22px;
      margin-left: inherit; } }
@media (max-width: 500px) {
  .col__logo {
    width: 100% !important;
    margin-bottom: 10px; }

  .el-search {
    flex: 1; } }
@media (max-width: 400px) {
  .el-currency {
    display: none; }

  .el-language {
    margin-right: 20px; }
    .rtl .el-language {
      margin-left: 20px;
      margin-right: inherit; } }

/*# sourceMappingURL=headerposition3250459807.css.map */
